.addImages-box {
    border-radius: 15px;
    margin-top: 10%;
    margin-left: 2%;
    border: 5px solid whitesmoke;
    background-color: rgb(212, 248, 252);
    width: 96%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}